html
{
width:100%;
height:100%;
font-family:verdana;
}

body
{
margin:0 20px 0 20px;
background-color:white;
}

#interactionMessage
{
position:absolute;
padding-top:200px;
width:800px;
color:white;
text-align:center;
font-weight:bold;
}

#canvasDiv
{
width:800px;
height:600px;
padding:0;
margin:auto;
overflow:hidden;
z-index:-1;
border:1px solid black;

-moz-user-select: none; 
-khtml-user-select: none; 
-webkit-user-select: none; 
-o-user-select: none; 
user-select: none;
}

#introText
{
position:absolute;
width:760px;
height:560px;
background-color:black;
color:white;
font-size:large;
padding:20px;
}

#startButton
{
position:relative;
width:100px;
height:30px;
margin-left:-50px;
left:50%;
border:2px solid white;
background-color:black;
text-align:center;
}
#startButton:hover
{
color:black;
background-color:white;
}